@{
  ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="customerTable"></div>

@section scripts{
  <script src="~/appScriptsJS/CustomerModule.js"></script>
  <script src="~/appScriptsJS/CustomerUIModule.js"></script>


  <script>
    $(document).ready(function () {
      var customer = new CustomerModule.Customer();
      var customerUI = new CustomerUIModule.CustomerUI();
      customer.SelectAll(customerUI.LoadCustomers);
    });
  </script>

}
