@{
  ViewBag.Title = "Home Page";
}

<div id="divMsg">
  <br />
  <button type="button" class="btn btn-primary btn-lg" onclick="ClickMeButton();">
    Show Message from TypeScript!
  </button>
</div>

@section scripts
{
  <script src="~/appScriptsJS/app.js"></script>
}
